@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:wght@100;400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic+Condensed+One&display=swap");

.btn-3d {
  all: unset;
  border-radius: 8px;
  padding: 10px;
  background: #529c70;
  background: linear-gradient(
    90deg,
    rgba(82, 156, 112, 1) 50%,
    rgb(62, 192, 99) 100%
  );
  color: white;
  font-family: "Special Gothic Condensed One";
  box-shadow: 0px 8px 0px rgb(52, 126, 68);
}

.btn-3d:active {
  transform: scale(0.98) translateY(3px);
  box-shadow: 0px 4px 0px rgb(52, 126, 68);
}

.add-task {
  width: 100%;
  text-align: center;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(34, 119, 230, 1) 0%,
    rgba(32, 184, 214, 1) 100%
  );

  box-shadow: 0px 8px 0px rgb(30, 110, 202);
}

.add-task:active {
  transform: scale(0.98) translateY(3px);
  box-shadow: 0px 4px 0px rgb(30, 110, 202);
}
