#main {
  background: #dce35b;
  background: -webkit-linear-gradient(to right, #45b649, #bec459);
  background: linear-gradient(to right, #45b649, #b3b855);
}

.title {
  font-family: "Outfit";
}

.task-name {
  font-size: 0.85em;
}

.tasks-list .task {
  cursor: pointer;
}
